{{!
    This file is part of Moodle - apvaardig digitap block.
    This template wil be only rendering when the current user has no data. 
}}
{{!
    @template block_apvaardig_digitap/content_no_data

    Template purpose and description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none
}}
<p>{{#str}}globa_no_data_text,block_apvaardig_digitap{{/str}}<p>