{{!
    This file is part of Moodle - reporting  block.
    This template wil be only rendering when the current user has no data. 
}}
{{!
    @template quiz_reporting/content_no_data

    Template purpose and description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none
}}
<p>{{#str}}globa_no_data_text,quiz_reporting{{/str}}<p>